In [1]:
# SETUP

# Libraries
from google.cloud import bigquery
import pandas as pd
import numpy as np
# client location
client = bigquery.Client(location = "europe-north1")
print("Client creating using default project: {}".format(client.project))

Client creating using default project: gentle-pier-291608

In [2]:
# how many hard drives? how many that failed?
query = """
    SELECT serial_number, SUM(failure) as failure
    FROM df.m1days
    GROUP BY (serial_number)
    """
query_job = client.query(query, location= "europe-north1")  # API request - starts the query
units = query_job.to_dataframe()

In [3]:
print("Number of hard drives:", units['serial_number'].nunique())

Number of hard drives: 36925

In [4]:
# number of hard drives that have been failed (1) and have not (0)
units.groupby(["failure"]).agg(['count'])

        serial_number
                count
failure
0               33057
1                3868

In [10]:
# N = 5
query = """
#  Standard SQL
    SELECT days_to_failure, 
       CASE 
          WHEN days_to_failure IS NULL THEN 0
          WHEN days_to_failure > 5 THEN 0
          WHEN days_to_failure<= 5 THEN 1
       END AS failureN5
    FROM df.m1days
    """
query_job = client.query(query, location= "europe-north1")  # API request - starts the query
fN5 = query_job.to_dataframe()

In [17]:
fN5.sort_values(by = "failureN5").head()

          days_to_failure  failureN5
0                     NaN          0
37021992              NaN          0
37021993              NaN          0
37021994              NaN          0
37021995              NaN          0

In [18]:
fN5.sort_values(by = "failureN5").tail()

          days_to_failure  failureN5
2657443               5.0          1
33856777              5.0          1
32036280              1.0          1
5874663               1.0          1
44004623              4.0          1