In [27]:
# SETUP

# Libraries
from google.cloud import bigquery
import pandas as pd
import numpy as np
# client location
client = bigquery.Client(location = "europe-north1")
print("Client creating using default project: {}".format(client.project))

Client creating using default project: gentle-pier-291608

In [2]:
model = "model1"
query = """
        SELECT *
        FROM df."""+model+"""
        LIMIT 2
    """
query_job = client.query(query, location= "europe-north1")  # API request - starts the query
m = query_job.to_dataframe()
cols = m.columns

In [3]:
cat_features = cols[0:5]
SMART = cols[5::]

In [9]:
# nulls 1st 5 col
q1 = pd.DataFrame()
for col in cat_features:
    query = """
        SELECT (COUNT(*) - COUNT("""+col+""")) AS N_null
        FROM df.model1
        """
    query_job = client.query(query, location= "europe-north1")  # API request - starts the query
    qi = query_job.to_dataframe()
    qi["Feature"] = col
    q1 = pd.concat([qi,q1], axis=0)
q1 = q1[["Feature", "N_null"]]
q1 = q1.reset_index(drop=True)
q1

          Feature  N_null
0         failure       0
1  capacity_bytes       0
2           model       0
3   serial_number       0
4            date       0

In [10]:
# min, max, avg and len of unique elements by columns
q2 = pd.DataFrame()
for col in SMART:
    query = """
        SELECT MIN("""+col+""") AS MIN,
            MAX("""+col+""") AS MAX,
            AVG("""+col+""") AS AVG,
            COUNT (DISTINCT """+col+""") AS len_unique,
            (COUNT(*) - COUNT("""+col+""")) AS N_null
        FROM df.model1
        """
    query_job = client.query(query, location= "europe-north1")  # API request - starts the query
    qi = query_job.to_dataframe()
    qi["col"] = col
    q2 = pd.concat([qi,q2], axis=0)

In [14]:
q2 = q2[['col','MIN', 'MAX', 'AVG', 'len_unique', 'N_null']]
q2.columns = ['Feature','Min', 'Max', 'Men', 'N unique values', 'N null']
q2 = q2.reset_index(drop=True)

In [19]:
q2.sort_values(by=['Feature'])

,Feature,Min,Max,Men,N unique values,N null
35,smart_10_normalized,100,100,1.000000e+02,1,251539
34,smart_10_raw,0,0,0.000000e+00,1,251539
33,smart_12_normalized,0,100,9.999959e+01,4,251539
32,smart_12_raw,0,1566375939,3.325437e+01,264,251539
31,smart_183_normalized,1,100,9.941290e+01,100,251539
30,smart_183_raw,0,64730,3.064159e+00,1047,251539
29,smart_184_normalized,24,100,9.998975e+01,41,251539
28,smart_184_raw,0,76,1.024818e-02,41,251539
27,smart_187_normalized,1,100,9.990130e+01,98,251539
26,smart_187_raw,0,65535,2.542049e-01,539,251539
25,smart_188_normalized,88,100,1.000000e+02,7,251539
24,smart_188_raw,0,90483456692811,2.907610e+09,2560,251539
23,smart_189_normalized,1,100,9.800216e+01,100,251539
22,smart_189_raw,0,65535,4.854412e+00,3790,251539
21,smart_190_normalized,45,215,7.560744e+01,46,251539
20,smart_190_raw,11,141,2.439283e+01,46,251539
19,smart_191_normalized,100,100,1.000000e+02,1,251539
18,smart_191_raw,0,0,0.000000e+00,1,251539
17,smart_192_normalized,99,100,1.000000e+02,2,251539
16,smart_192_raw,0,2656,1.838711e+00,395,251539
15,smart_193_normalized,1,100,8.582639e+01,100,251539
14,smart_193_raw,1,1520282,3.101691e+04,408107,251539
13,smart_194_normalized,11,141,2.439283e+01,46,251539
12,smart_194_raw,11,141,2.438297e+01,46,1152
11,smart_197_normalized,1,100,9.999955e+01,73,251539
10,smart_197_raw,0,63640,2.094855e-01,535,1152
9,smart_198_normalized,1,100,9.999955e+01,73,251539
8,smart_198_raw,0,63640,1.980154e-01,488,251539
7,smart_199_normalized,171,200,2.000000e+02,7,251539
6,smart_199_raw,0,11534,2.078712e+00,2210,251539
47,smart_1_normalized,64,120,1.152830e+02,56,251541
46,smart_1_raw,0,244140624,1.216545e+08,25532691,1154
5,smart_240_normalized,12,100,1.000000e+02,2,251539
4,smart_240_raw,0,281470681765970,1.897508e+13,5927390,251539
3,smart_241_normalized,100,100,1.000000e+02,1,251541
2,smart_241_raw,0,78637541832,3.086925e+10,55055079,251541
1,smart_242_normalized,100,100,1.000000e+02,1,251541
0,smart_242_raw,1497,2420249574109,1.109529e+11,55174416,251541
45,smart_3_normalized,91,100,9.390999e+01,10,251539
44,smart_3_raw,0,0,0.000000e+00,1,251539
43,smart_4_normalized,98,100,9.999994e+01,3,251539
42,smart_4_raw,1,2690,8.973809e+00,400,251539
41,smart_5_normalized,51,100,9.999673e+01,50,251539
40,smart_5_raw,0,65392,4.256071e+00,2491,1152
39,smart_7_normalized,24,100,8.418624e+01,61,251539
38,smart_7_raw,2,281471681712657,1.261704e+10,53680626,251539
37,smart_9_normalized,39,100,7.886714e+01,62,251539
36,smart_9_raw,0,54030,1.888785e+04,51523,1152

In [25]:
# features to drop
drop = q2.loc[q2['N unique values'] == 1]["Feature"].values

In [32]:
selected = np.setdiff1d(cols,drop)

In [37]:
print(*selected, sep = ", ")

capacity_bytes, date, failure, model, serial_number, smart_12_normalized, smart_12_raw, smart_183_normalized, smart_183_raw, smart_184_normalized, smart_184_raw, smart_187_normalized, smart_187_raw, smart_188_normalized, smart_188_raw, smart_189_normalized, smart_189_raw, smart_190_normalized, smart_190_raw, smart_192_normalized, smart_192_raw, smart_193_normalized, smart_193_raw, smart_194_normalized, smart_194_raw, smart_197_normalized, smart_197_raw, smart_198_normalized, smart_198_raw, smart_199_normalized, smart_199_raw, smart_1_normalized, smart_1_raw, smart_240_normalized, smart_240_raw, smart_241_raw, smart_242_raw, smart_3_normalized, smart_4_normalized, smart_4_raw, smart_5_normalized, smart_5_raw, smart_7_normalized, smart_7_raw, smart_9_normalized, smart_9_raw

In [38]:
print(*cols, sep = ", ")

date, serial_number, model, capacity_bytes, failure, smart_1_normalized, smart_1_raw, smart_3_normalized, smart_3_raw, smart_4_normalized, smart_4_raw, smart_5_normalized, smart_5_raw, smart_7_normalized, smart_7_raw, smart_9_normalized, smart_9_raw, smart_10_normalized, smart_10_raw, smart_12_normalized, smart_12_raw, smart_183_normalized, smart_183_raw, smart_184_normalized, smart_184_raw, smart_187_normalized, smart_187_raw, smart_188_normalized, smart_188_raw, smart_189_normalized, smart_189_raw, smart_190_normalized, smart_190_raw, smart_191_normalized, smart_191_raw, smart_192_normalized, smart_192_raw, smart_193_normalized, smart_193_raw, smart_194_normalized, smart_194_raw, smart_197_normalized, smart_197_raw, smart_198_normalized, smart_198_raw, smart_199_normalized, smart_199_raw, smart_240_normalized, smart_240_raw, smart_241_normalized, smart_241_raw, smart_242_normalized, smart_242_raw

In [39]:
len(selected)

46