In [1]:
# SETUP

# Libraries
from google.cloud import bigquery
import pandas as pd
import numpy as np
# client location
client = bigquery.Client(location = "europe-north1")
print("Client creating using default project: {}".format(client.project))

Client creating using default project: gentle-pier-291608

In [2]:
query = """
        SELECT *
        FROM df.m1
        LIMIT 2
    """
query_job = client.query(query, location= "europe-north1")  # API request - starts the query
m = query_job.to_dataframe()
cols = m.columns
cat_features = cols[0:5]
SMART = cols[5::]

In [3]:
M = pd.DataFrame(columns =  ["atribute", "median", "mode"])
i = 0
for col in SMART:
    print(len(SMART)-i)
    i += 1
    query = """
    SELECT """+col+"""
    FROM df.m1
        """
    query_job = client.query(query, location= "europe-north1")  # API request - starts the query
    q = query_job.to_dataframe()
    median = q.median()[0]
    mode = q.mode().values[0][0]
    new_row = {"atribute":col, "median": median, "mode": mode}
    M = M.append(new_row, ignore_index = True)

41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [35]:
M.head()

               atribute  median   mode
0   smart_12_normalized   100.0  100.0
1          smart_12_raw     7.0    4.0
2  smart_183_normalized   100.0  100.0
3         smart_183_raw     0.0    0.0
4  smart_184_normalized   100.0  100.0

In [39]:
print(*cat_features, sep = ", ")

date, serial_number, model, capacity_bytes, failure

In [41]:
for s in SMART:
    ismode = int(M.loc[M["atribute"] == s, 'mode'].values[0])
    print("IFNULL("+s+", "+str(ismode)+") as "+s+",")

IFNULL(smart_12_normalized, 100) as smart_12_normalized,
IFNULL(smart_12_raw, 4) as smart_12_raw,
IFNULL(smart_183_normalized, 100) as smart_183_normalized,
IFNULL(smart_183_raw, 0) as smart_183_raw,
IFNULL(smart_184_normalized, 100) as smart_184_normalized,
IFNULL(smart_184_raw, 0) as smart_184_raw,
IFNULL(smart_187_normalized, 100) as smart_187_normalized,
IFNULL(smart_187_raw, 0) as smart_187_raw,
IFNULL(smart_188_normalized, 100) as smart_188_normalized,
IFNULL(smart_188_raw, 0) as smart_188_raw,
IFNULL(smart_189_normalized, 100) as smart_189_normalized,
IFNULL(smart_189_raw, 0) as smart_189_raw,
IFNULL(smart_190_normalized, 78) as smart_190_normalized,
IFNULL(smart_190_raw, 22) as smart_190_raw,
IFNULL(smart_192_normalized, 100) as smart_192_normalized,
IFNULL(smart_192_raw, 0) as smart_192_raw,
IFNULL(smart_193_normalized, 98) as smart_193_normalized,
IFNULL(smart_193_raw, 15) as smart_193_raw,
IFNULL(smart_194_normalized, 22) as smart_194_normalized,
IFNULL(smart_194_raw, 22) as smart_194_raw,
IFNULL(smart_197_normalized, 100) as smart_197_normalized,
IFNULL(smart_197_raw, 0) as smart_197_raw,
IFNULL(smart_198_normalized, 100) as smart_198_normalized,
IFNULL(smart_198_raw, 0) as smart_198_raw,
IFNULL(smart_199_normalized, 200) as smart_199_normalized,
IFNULL(smart_199_raw, 0) as smart_199_raw,
IFNULL(smart_1_normalized, 117) as smart_1_normalized,
IFNULL(smart_1_raw, 0) as smart_1_raw,
IFNULL(smart_240_normalized, 100) as smart_240_normalized,
IFNULL(smart_240_raw, 678) as smart_240_raw,
IFNULL(smart_241_raw, 0) as smart_241_raw,
IFNULL(smart_242_raw, 1656) as smart_242_raw,
IFNULL(smart_3_normalized, 92) as smart_3_normalized,
IFNULL(smart_4_normalized, 100) as smart_4_normalized,
IFNULL(smart_4_raw, 4) as smart_4_raw,
IFNULL(smart_5_normalized, 100) as smart_5_normalized,
IFNULL(smart_5_raw, 0) as smart_5_raw,
IFNULL(smart_7_normalized, 87) as smart_7_normalized,
IFNULL(smart_7_raw, 11) as smart_7_raw,
IFNULL(smart_9_normalized, 98) as smart_9_normalized,
IFNULL(smart_9_raw, 705) as smart_9_raw,